html
	background-color #0e160b

body
	align center

h1
	color #FFD700
	align center
	text-align center
	font-family Impact, fantasy
	font-style italic
	font-size 40px

body>p
	align center
	text-align center
	margin-top 70px
	color #F3AA3C


div
	width 10px
	height 10px
	background-color white



#map
	align center
	position relative
	margin 0 auto  // margin to the center (relative)

