html
    background-color #F3E5AB

body
    align center

h1
    color #000000
    align center
    text-align center
    font-family Impact, fantasy
    font-style italic
    font-size 40px

body>p
    align center
    text-align center
    margin-top 70px
    color #00063b

#map div
    width 12px
    height 12px
    float left
    border 1px solid #006400

#map div.dead
    background-color #bab3b4

#map div.alive
    background-color #ffffff




// TODO: Make a grid instead of line of cells
#map
    align center
    position relative
    margin 0 auto  // margin to the center (relative)
    margin-top 50px
    margin-bottom 100px
    width 840px
    height 840px

